*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
html,body{height: 100%;}

.sidebar{
    float:left;
    width: 250px;
    padding:10px 10px;
    height:100%;
    overflow-y: auto;/*vai criar um scroll no componente */
    background-color: black;
    overflow-x: hidden; 
}
.sidebar-wraper{
    padding-bottom: 200px;
}
.sidebar_menu{
    margin:20px 0;
    color:rgb(190,190,190);
}
.sidebar_logo{
    display:flex;
    color:white;
    margin: 20px 0 40px 30px;
}
.sidebar_logo img{
    background:white;
    max-width: 40px;
    width:100%;
    margin: 0 20px;
}
.sidebar_logo p{
   font-size:30px;
}
.sidebar_menu a{
    color:rgb(190,190,190);
    text-decoration: none;
    display: block;
    padding:10px 0;
}
.sidebar_menu svg{
    margin: 0 20px;
}
.sidebar_menu a.sidebar__menu__selecionado{
 color:white;
 background:rgb(190,190,190);
 border-radius: 5px;
}
.sidebar_menu_item{
    margin-top:12px;
    cursor: pointer;
    vertical-align: middle;
}
.sidebar_menu p.sidebar_menu_title{
    color:white;
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar_menu_componete{
    width: 30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    display:inline-block;
    color:black;
    font-weight: bold;
    background-color: white;
}
.sidebar_menu_item span{
    font-weight: bold;
    font-size:14px;
    padding:0 10px;
}
.sidebar__playlists{
    padding:20px 0;
    border-top: 1px solid rgb(40,40, 40);
}
.sidebar__playlists a{
    margin: 10px 0;
    display:block;
    color:rgb(190,190,190);
    text-decoration: none;
}
.sidebar__playlists a:hover{
    color:white;
}

/* css do main */

.main{
    width:calc(100% - 250px);
    background-color: rgb(30,30,30);
    height: 100%;
    float:left;
    padding:15px 50px;
    overflow-y: auto;
}
.main__linha{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main__wraper{
    padding-bottom:200px;
}
.main_linha__title
{
    width:100%;
}
.main_linha__title h2{
 color:white;   
}
.main__coluna{
    cursor: pointer;
    width:12%;
    margin-right: 2%;
    margin-top:20px;
    background-color:#282828;
    border-radius:8px ;
    padding: 10px;
    text-align:  center;
    margin-bottom: 20px;
}
.main__coluna img{
    width:90px;
    height:90px;
}

.main__coluna h3{
    color:white;
    margin:8px 0;
}
.main__coluna p
{
    color:rgb(100,100,100);
    margin:8px 0;
    font-size:13px;
    text-align: left;
}

/* css do player */

.player{
    width:100%;
    padding:20px;
    height:130px;
    position: absolute;
    left:0;
    bottom:0;
    display:flex;
    background-color: rgb(60,60,60);
   
}

.player__artist{
    width:20px;
    display:flex;
    align-items: center;
}

.player__artist .song-img{
    max-width: 70px;
    display:inline-block;
    vertical-align:middle;
}
.player__artist h3{
    display: inline-block;
    color:white;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left:10px;
}
.player__artist h3>span{
    color:rgb(200,200,200);
    font-size:13px;
}

.player__control{
    width:70%;
    text-align:center;
    margin:auto;
}
.player_control_buttons a{
    color:white;
    margin:8px 15px;
    font-size: 18px;
}

.player_control_progress
{
    width:100%;
    max-width:600px;
    height:7px;
    margin-top:20px;
    position:relative;
    border-radius: 8px;
    display:inline-block;
    background:rgb(130,130,130);
}
.player_control_progress__2{
    position:absolute;
    left:0;
    top:0;
    height:7px;
    border-radius: 8px;
    background:white;

}


#audioPlayer{
    position: absolute;
    top:0;
    left:0;
    z-index: -999;
    opacity: 0;
}
@media screen and (max-width:760px) {
    .main__coluna{
        width: 50%;
    }
    
}